<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Módulo
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        Ventas
                    </h1>

                  </div>
                </div> <!-- / .row -->
      
              </div>
            </div>

            <!-- Alert -->


            <ng-container *ngIf="!load_data">
              <ng-container *ngIf="venta != undefined">
                <!-- Card -->
                <div class="card mb-5">
                  <div class="card-header">
  
                    <!-- Title -->
                    <h4 class="card-header-title">
                      Venta #{{venta._id}}
                    </h4>
  
                    <a [routerLink]="['/ventas']">Regresar</a>
                  </div>
                  <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                          <table class="table mb-0">
                            <tbody>
                              <tr *ngIf="venta.cliente">
                                  <th class="border-0 py-2 pl-0">Cliente:</th>
                                  <td class="border-0 py-2 px-0 text-muted">{{venta.cliente.nombres}} {{venta.cliente.apellidos}}</td>
                                </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Venta No:</th>
                                <td class="border-0 py-2 px-0 text-muted">{{id.toUpperCase()}}</td>
                              </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Tracking:</th>
                                <td class="border-0 py-2 px-0 text-muted" *ngIf="venta.tracking">{{venta.tracking}}</td>
                                <td class="border-0 py-2 px-0 text-muted" *ngIf="!venta.tracking">En proceso de envio</td>
                              </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Fecha:</th>
                                <td class="border-0 py-2 px-0 text-muted">{{venta.createdAt|date}}</td>
                              </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Cupón:</th>
                                <td class="border-0 py-2 px-0 text-muted" *ngIf="venta.cupon && venta.cupon != 'undefined'">{{venta.cupon}}</td>
                                <td class="border-0 py-2 px-0 text-muted" *ngIf="!venta.cupon || venta.cupon == 'undefined'">No aplicado</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-lg-6">
                          <table class="table mb-0">
                            <tbody>
                              <tr>
                                  <th class="border-0 py-2 pl-0">Precio envio:</th>
                                  <td class="border-0 py-2 px-0 text-muted">
                                    <span *ngIf="venta.currency == 'USD'">{{venta.envio_precio|currency:'USD'}}</span>
                                    <span *ngIf="venta.currency == 'PEN'">{{venta.envio_precio|currency:'PEN'}}</span>
                                  </td>
                                </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Metodo de pago:</th>
                                <td class="border-0 py-2 px-0 text-muted">{{venta.metodo_pago}}</td>
                              </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Transaccion:</th>
                                <td class="border-0 py-2 px-0 text-muted">{{venta.transaccion}}</td>
                              </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Estado:</th>
                                <td class="border-0 py-2 px-0 text-muted">{{venta.estado}}</td>
                              </tr>
                              <tr>
                                <th class="border-0 py-2 pl-0">Descuento:</th>
                                <td class="border-0 py-2 px-0 text-muted">
                                  <span *ngIf="venta.currency == 'USD'">{{venta.valor_descuento|currency:'USD'}}</span>
                                  <span *ngIf="venta.currency == 'PEN'">{{venta.valor_descuento|currency:'PEN'}}</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
    
  
                </div>
  
                <div class="card">
                  <div class="card-body">
                    <ng-container *ngIf="venta.estado == 'Enviado'">
                      <a style="cursor:pointer;" *ngIf="venta.estado == 'Enviado'" class="btn btn-warning text-white mr-3" data-toggle="modal" [attr.data-target]="'#openConfVenta'">Confirmar entrega de pedido</a>
                      <br>
        
                      <div class="modal fade" id="openConfVenta" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Confirmación de orden</h4>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <p>Desea confirmar que el pedido llego al cliente?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button *ngIf="!load_final" class="btn btn-danger btn-shadow btn-sm" (click)="finalzar(venta._id)" type="button">Si, Confirmar</button>
                                
                                <button disabled *ngIf="load_final" type="button" class="btn btn-danger btn-shadow btn-sm">
                                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                  Confirmando...
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="venta.estado == 'Procesando'">
                      <a class="btn btn-primary text-white mr-3" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#openEnviado'">Marcar envio</a>
                      <div class="modal fade" id="openEnviado" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Marcar orden como enviada</h4>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <p>Desea marcar esta orden como enviada?</p>
  
                              <input type="text" class="form-control" placeholder="Número de seguimiento" name="tracking" [(ngModel)]="tracking">
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button *ngIf="!load_send" class="btn btn-danger btn-shadow btn-sm" (click)="enviar(venta._id)" type="button">Si, confirmar</button>
                                
                                <button disabled *ngIf="load_send" type="button" class="btn btn-danger btn-shadow btn-sm">
                                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                  Enviando...
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <a style="cursor:pointer;" data-toggle="modal" [attr.data-target]="'#modalPago'" *ngIf="venta.metodo_pago == 'Tarjeta de crédito'" class="btn btn-info text-white mr-3">Consultar pago</a>
                  
                      <div class="modal fade" id="modalPago" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Consulta externa a Mercadopago</h4>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body" *ngIf="venta.transaccion != 'VENTAMANUAL'">
                              <table class="table mb-0">
                                <tbody>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">Estado:</th>
                                    <td class="border-0 py-2 px-0 text-muted">{{pago.status}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">Estado detalle:</th>
                                    <td class="border-0 py-2 px-0 text-muted">{{pago.status_detail}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">Payer:</th>
                                    <td class="border-0 py-2 px-0 text-muted" *ngIf="pago.first_name">{{pago.first_name}} {{pago.last_name}}</td>
                                    <td class="border-0 py-2 px-0 text-muted" *ngIf="!pago.first_name">Sin datos</td>
                                  </tr>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">Pago ID:</th>
                                    <td class="border-0 py-2 px-0 text-muted">{{pago.id}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">Tipo pago:</th>
                                    <td class="border-0 py-2 px-0 text-muted">{{pago.payment_method_id}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">Monto:</th>
                                    <td class="border-0 py-2 px-0 text-muted">S/{{pago.transaction_amount}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-0 py-2 ps-0">IP Client:</th>
                                    <td class="border-0 py-2 px-0 text-muted" *ngIf="pago.additional_info">{{pago.additional_info.ip_address}}</td>
                                  </tr>
  
                                  
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-body" *ngIf="venta.transaccion == 'VENTAMANUAL'">
                              <p>No se encontró el codigo de la transacción en la venta, asegurese que no sea una venta manual.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
  
                    <ng-container *ngIf="venta.estado == 'En espera'">
                      <a class="btn btn-primary text-white mr-3" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#openConfirmarPago'" *ngIf="venta.estado == 'En espera'">Confirmar pago</a>
                      <div class="modal fade" id="openConfirmarPago" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Confirmación de pago</h4>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <p>Desea confirmar el pago?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button *ngIf="!load_conf_pago" class="btn btn-danger btn-shadow btn-sm" (click)="confirmar_pago(venta._id)" type="button">Si, enviar</button>
                                
                                <button disabled *ngIf="load_conf_pago" type="button" class="btn btn-danger btn-shadow btn-sm">
                                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                  Eliminando...
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      <a class="btn btn-danger text-white mr-3" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#openEliminar'" *ngIf="venta.estado == 'En espera'">Eliminar pedido</a>
                      <div class="modal fade" id="openEliminar" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Eliminar orden</h4>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <p>Desea eliminar la orden?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button *ngIf="!load_del" class="btn btn-danger btn-shadow btn-sm" (click)="eliminar(venta._id)" type="button">Si, eliminar</button>
                                
                                <button disabled *ngIf="load_del" type="button" class="btn btn-danger btn-shadow btn-sm">
                                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                  Eliminando...
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    
                    <ng-container *ngIf="venta.estado == 'Finalizado'">
                      <button class="btn btn-success" disabled>Venta finalizada</button>
                    </ng-container>
                    
                  </div>
                
                </div>
  
                <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <tbody>
                        <tr *ngFor="let item of detalles">
                          <td class="border-top-0">
                            <div class="media pl-2 py-2">
                              <a [routerLink]="['/productos/'+item.producto.slug]" style="min-width: 80px;cursor: pointer;">
                                <img [src]="url +'obtener_portada/'+item.producto.portada" width="80" alt="Product thumb">
                              </a>
                              <div class="media-body pl-3">
                                <h3 class="font-size-sm mb-3">
                                  <a [routerLink]="['/productos/'+item.producto.slug]" style="cursor: pointer;" class="nav-link font-weight-bold">{{item.producto.titulo}}</a>
                                </h3>
                                <ul class="list-unstyled font-size-xs mt-n2 mb-2" style="margin-left: 1rem;">
                                  <li class="mb-0"><span class="text-muted">TALLA:</span> {{item.variedad.valor}}</li>
                                </ul>
                            
                                <span *ngIf="item.estado"  class="badge badge-warning" style="background-color: #f1ee51;margin-left: 1rem;">Comentario emitido</span>
  
                               
                              </div>
                            </div>
                          </td>
                          <td class="border-top-0">
                            <div class="py-2">
                              <div class="font-size-xs text-muted mb-1">Precio:</div>
                              <div class="font-size-sm text-dark">
                                <span *ngIf="venta.currency == 'PEN'">S/{{item.subtotal}}</span>
                                <span  *ngIf="venta.currency == 'USD'">${{item.subtotal}}</span>
                                
                              </div>
                            </div>
                          </td>
                          <td class="border-top-0">
                            <div class="py-2">
                              <div class="font-size-xs text-muted mb-1">Cantidad:</div>
                              <div class="font-size-sm text-dark">{{item.cantidad}}</div>
                            </div>
                          </td>
                          <td class="border-top-0">
                            <div class="py-2 pr-3 text-right">
                              <div class="font-size-xs text-muted mb-1">Subtotal:</div>
                              <div class="font-size-sm font-weight-bold text-dark">
                                <span *ngIf="venta.currency == 'PEN'">S/{{item.subtotal*item.cantidad}}</span>
                                <span  *ngIf="venta.currency == 'USD'">${{item.subtotal*item.cantidad}}</span>
                                </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-left: 1.3rem !important;" colspan="3">
                            <b>Subtotal</b>
                          </td>
                          <td class="" colspan="1">
                            <div class="py-2 pr-3 text-right">
                              <span *ngIf="venta.currency == 'PEN'">S/{{venta.subtotal}}</span>
                              <span  *ngIf="venta.currency == 'USD'">${{venta.subtotal}}</span>
                            </div>  
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-left: 1.3rem !important;" colspan="3">
                            <b>Descuento</b>
                          </td>
                          <td class="" colspan="1">
                            <div class="py-2 pr-3 text-right">
                              <span *ngIf="venta.currency == 'PEN'">- S/{{venta.valor_descuento}}</span>
                              <span  *ngIf="venta.currency == 'USD'">- ${{venta.valor_descuento}}</span>
                            </div>  
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-left: 1.3rem !important;" colspan="3">
                            <b>Envio</b>
                          </td>
                          <td class="" colspan="1">
                            <div class="py-2 pr-3 text-right">
                              <span *ngIf="venta.currency == 'PEN'">S/{{venta.envio_precio}}</span>
                              <span  *ngIf="venta.currency == 'USD'">${{venta.envio_precio}}</span>
                            </div>  
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-left: 1.3rem !important;" colspan="3">
                            <b>Total</b>
                          </td>
                          <td class="" colspan="1">
                            <div  class="py-2 pr-3 text-right">
                              <span *ngIf="venta.currency == 'PEN'">S/{{venta.total_pagar}}</span>
                              <span  *ngIf="venta.currency == 'USD'">${{venta.total_pagar}}</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>
              </ng-container>
              <ng-container  *ngIf="venta == undefined">
                <div class="card">
                  <div class="card-body">
                    <div class="row justify-content-center">
                      <div class="col-12 col-md-5 col-xl-4 my-5">
                        
                        <div class="text-center">
                        
                          <!-- Preheading -->
                          <h6 class="text-uppercase text-muted mb-4">
                            404 error
                          </h6>
              
                          <!-- Heading -->
                          <h1 class="display-4 mb-3">
                            There’s no page here 😭
                          </h1>
              
                          <!-- Subheading -->
                          <p class="text-muted mb-4">
                            Looks like you ended up here by accident? 
                          </p>
              
                          <!-- Button -->
                          <a [routerLink]="['/ventas']"  class="btn btn-lg btn-primary">
                            Regresar a ventas
                          </a>
                        
                        </div>
              
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="load_data">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                      <div class="col-12 text-center">
                        <div class="spinner-border text-primary" role="status">
                          <span class="visually-hidden"></span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </ng-container>
            
            


          </div>
        </div> <!-- / .row -->
      </div>
</div>