<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
    <div class="container-fluid">
  
      <!-- Form -->
      <form class="form-inline mr-4 d-none d-md-flex">
        <div class="input-group input-group-flush input-group-merge" data-list='{"valueNames": ["name"]}'>
  
          <!-- Input -->
          <input type="search" class="form-control form-control-prepended dropdown-toggle list-search" data-toggle="dropdown" placeholder="Search" aria-label="Search" />
  
          <!-- Prepend -->
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fe fe-search"></i>
            </div>
          </div>
  
        </div>
      </form>
  
      <!-- User -->
      <div class="navbar-user" style="margin-right: 17px;">
  
        <!-- Dropdown -->
 
  
        <!-- Dropdown -->
        <div class="dropdown">
  
          <!-- Toggle -->
          <a class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle" />
          </a>
  
          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right">
      
            <a class="dropdown-item" style="cursor:pointer" (click)="logout()">
              <span class="fe fe-log-out me-4"></span> Cerrar sesión
            </a>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </nav>
  