<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 col-xl-4 my-5" style="margin-top: 10rem !important;">
        
        <!-- Heading -->
        <h1 class="display-4 text-center mb-3">
          Iniciar Sesión
        </h1>
        
        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
          Panel administrativo de Ferrumac.
        </p>
        
        <!-- Form -->
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <!-- Email address -->
            <div class="form-group">
    
              <!-- Label -->
              <label>Correo electrónico</label>
    
              <!-- Input -->
              <input type="email" class="form-control" required placeholder="name@address.com" #email="ngModel" name="email" [(ngModel)]="admin.email">
    
            </div>
    
            <!-- Password -->
            <div class="form-group">
    
              <div class="row">
                <div class="col">
                      
                  <!-- Label -->
                  <label>Contraseña</label>
    
                </div>
       
              </div> <!-- / .row -->
    
              <!-- Input group -->
              <div class="input-group input-group-merge">
    
                <!-- Input -->
                <input type="password" class="form-control form-control-appended" placeholder="Ingresa tu contraseña" id="password" #password="ngModel" name="password" [(ngModel)]="admin.password">
    
                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text" (click)="view_password();" style="cursor: pointer;">
                    <i class="fe fe-eye"></i>
                  </span>
                </div>
    
              </div>
            </div>
    
            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3" type="submit">
              Iniciar sesión
            </button>
    
            
          </form>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->